In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
sheet2018 = pd.ExcelFile("D:/Bets/eurodata/all-euro-data-2018-2019.xlsx")

In [2]:
sheet_count = 0
df2018 = pd.read_excel(sheet2018, sheet_name = sheet_count)
sheet_count += 1
for sheet_count in range(1,22):
    df2018 = df2018.append(pd.read_excel(sheet2018, sheet_name = sheet_count),ignore_index=True,sort=False)

In [3]:
df2018['FTR'] = df2018['FTR'].replace('H',0)
df2018['FTR'] = df2018['FTR'].replace('D',1)
df2018['FTR'] = df2018['FTR'].replace('A',2)
df2018

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,HFKC,AFKC
0,E0,2018-08-10,Man United,Leicester,2.0,1.0,0.0,1.0,0.0,H,...,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69,NaN,NaN
1,E0,2018-08-11,Bournemouth,Cardiff,2.0,0.0,0.0,1.0,0.0,H,...,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70,NaN,NaN
2,E0,2018-08-11,Fulham,Crystal Palace,0.0,2.0,2.0,0.0,1.0,A,...,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90,NaN,NaN
3,E0,2018-08-11,Huddersfield,Chelsea,0.0,3.0,2.0,0.0,2.0,A,...,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58,NaN,NaN
4,E0,2018-08-11,Newcastle,Tottenham,1.0,2.0,2.0,1.0,2.0,A,...,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7685,G1,2019-05-05,Atromitos,OFI Crete,0.0,2.0,2.0,0.0,1.0,A,...,0.00,1.84,1.78,2.15,2.04,2.52,2.96,3.32,24.0,22.0
7686,G1,2019-05-05,Giannina,PAOK,0.0,2.0,2.0,0.0,0.0,D,...,0.25,2.06,2.03,1.81,1.79,3.77,4.17,1.87,24.0,11.0
7687,G1,2019-05-05,Larisa,Olympiakos,0.0,3.0,2.0,0.0,1.0,A,...,1.00,2.29,2.18,1.75,1.67,7.50,4.67,1.43,15.0,18.0
7688,G1,2019-05-05,Levadeiakos,AEK,0.0,3.0,2.0,0.0,1.0,A,...,2.00,1.90,1.82,2.05,1.98,12.01,6.59,1.22,19.0,18.0
7689,G1,2019-05-05,Panathinaikos,Panetolikos,4.0,0.0,0.0,3.0,0.0,H,...,-1.00,2.15,2.09,1.76,1.73,1.66,4.20,4.91,20.0,15.0

In [4]:
#drop columns of match statistics from dataframe -> it's data collected after the event: no predictive value
df = df2018.drop(['Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HF',
                  'AF','HC','AC','HY','AY','HR','AR','BbOU','Bb1X2','BbMxH','BbAvH','BbMxD','BbAvD','BbMxA','BbAvA',
                  'BbMx>2.5','BbAv>2.5','BbMx<2.5','BbAv<2.5','BbAH','BbAHh','BbMxAHH','BbAvAHH','BbMxAHA','BbAvAHA','HFKC',
                  'AFKC'],axis=1)

In [5]:
#drop rows with NaN values
df = df.dropna()

In [6]:
target = df['FTR']

In [7]:
df = df.drop(['FTR'],axis=1)

In [8]:
#data normalization
from sklearn import preprocessing
normalized_data = preprocessing.normalize(df)
normalized_data = normalized_data.astype('float')

In [9]:
#data standardization
standardized_data = preprocessing.scale(df)
standardized_data = standardized_data.astype('float')

In [10]:
from sklearn import model_selection
from sklearn.svm import SVC
name = 'svm'
results = []
scoring = 'accuracy'
seed = 7
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = SVC(kernel = 'rbf', gamma = 'scale', shrinking = True, class_weight = 'balanced', decision_function_shape = 'ovo')
cv_results = model_selection.cross_val_score(model, df, target, cv=kfold, scoring=scoring)
results.append(cv_results)
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

svm: 0.444277 (0.042777)

In [11]:
model.fit(df,target)
scores = model_selection.cross_val_score(model,df,target,cv=seed,scoring=scoring)
scores.mean()

0.44415047619323605

In [12]:
sheet2019 = pd.ExcelFile("D:/Bets/eurodata/all-euro-data-2019-2020.xlsx")

In [13]:
sheet_count = 0
df2019 = pd.read_excel(sheet2019, sheet_name = sheet_count)
sheet_count += 1
for sheet_count in range(0,22):
    df2019 = df2019.append(pd.read_excel(sheet2019, sheet_name = sheet_count),ignore_index=True,sort=False)

In [14]:
df2019

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2019-08-09,20:00:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,2019-08-10,12:30:00,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,2019-08-10,15:00:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,2019-08-10,15:00:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,2019-08-10,15:00:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,G1,2019-11-10,13:00:00,Aris,Asteras Tripolis,2,1,H,2,1,...,1.73,-1.00,1.80,2.05,1.79,2.09,1.85,2.11,1.80,2.02
2874,G1,2019-11-10,15:00:00,Xanthi,Panionios,1,2,A,0,0,...,1.54,-0.50,1.95,1.90,1.98,1.90,1.98,1.96,1.93,1.89
2875,G1,2019-11-10,15:15:00,Olympiakos,Atromitos,2,0,H,0,0,...,2.34,-2.00,1.93,1.93,2.03,1.81,2.04,2.05,1.95,1.87
2876,G1,2019-11-10,17:30:00,Panathinaikos,AEK,3,2,H,0,2,...,1.53,0.00,2.00,1.85,2.01,1.87,2.04,1.90,1.98,1.83
2877,G1,2019-11-11,17:30:00,Larisa,Lamia,0,3,A,0,1,...,1.49,-0.50,1.95,1.90,1.93,1.96,1.95,2.08,1.88,1.95

In [15]:
df2019['FTR'] = df2019['FTR'].replace('H',0)
df2019['FTR'] = df2019['FTR'].replace('D',1)
df2019['FTR'] = df2019['FTR'].replace('A',2)
df2019

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2019-08-09,20:00:00,Liverpool,Norwich,4,1,0,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,2019-08-10,12:30:00,West Ham,Man City,0,5,2,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,2019-08-10,15:00:00,Bournemouth,Sheffield United,1,1,1,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,2019-08-10,15:00:00,Burnley,Southampton,3,0,0,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,2019-08-10,15:00:00,Crystal Palace,Everton,0,0,1,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,G1,2019-11-10,13:00:00,Aris,Asteras Tripolis,2,1,0,2,1,...,1.73,-1.00,1.80,2.05,1.79,2.09,1.85,2.11,1.80,2.02
2874,G1,2019-11-10,15:00:00,Xanthi,Panionios,1,2,2,0,0,...,1.54,-0.50,1.95,1.90,1.98,1.90,1.98,1.96,1.93,1.89
2875,G1,2019-11-10,15:15:00,Olympiakos,Atromitos,2,0,0,0,0,...,2.34,-2.00,1.93,1.93,2.03,1.81,2.04,2.05,1.95,1.87
2876,G1,2019-11-10,17:30:00,Panathinaikos,AEK,3,2,0,0,2,...,1.53,0.00,2.00,1.85,2.01,1.87,2.04,1.90,1.98,1.83
2877,G1,2019-11-11,17:30:00,Larisa,Lamia,0,3,2,0,1,...,1.49,-0.50,1.95,1.90,1.93,1.96,1.95,2.08,1.88,1.95

In [16]:
features = df.columns

In [17]:
ftr = pd.Index(['FTR'])
features = features.append([ftr])

In [21]:
dfp = df2019
dfp

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2019-08-09,20:00:00,Liverpool,Norwich,4,1,0,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,2019-08-10,12:30:00,West Ham,Man City,0,5,2,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,2019-08-10,15:00:00,Bournemouth,Sheffield United,1,1,1,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,2019-08-10,15:00:00,Burnley,Southampton,3,0,0,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,2019-08-10,15:00:00,Crystal Palace,Everton,0,0,1,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,G1,2019-11-10,13:00:00,Aris,Asteras Tripolis,2,1,0,2,1,...,1.73,-1.00,1.80,2.05,1.79,2.09,1.85,2.11,1.80,2.02
2874,G1,2019-11-10,15:00:00,Xanthi,Panionios,1,2,2,0,0,...,1.54,-0.50,1.95,1.90,1.98,1.90,1.98,1.96,1.93,1.89
2875,G1,2019-11-10,15:15:00,Olympiakos,Atromitos,2,0,0,0,0,...,2.34,-2.00,1.93,1.93,2.03,1.81,2.04,2.05,1.95,1.87
2876,G1,2019-11-10,17:30:00,Panathinaikos,AEK,3,2,0,0,2,...,1.53,0.00,2.00,1.85,2.01,1.87,2.04,1.90,1.98,1.83
2877,G1,2019-11-11,17:30:00,Larisa,Lamia,0,3,2,0,1,...,1.49,-0.50,1.95,1.90,1.93,1.96,1.95,2.08,1.88,1.95

In [23]:
feat2019 = dfp.columns
feat2019

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)

In [24]:
for i in range (len(feat2019)):
    if (feat2019[i] not in features):
        dfp = dfp.drop([feat2019[i]],axis=1)

In [57]:
dfp

,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,1.14,10.00,19.00,1.14,8.25,18.50,1.15,8.00,18.00,1.15,...,18.05,1.12,8.5,21.00,1.14,9.5,23.00,1.14,10.43,19.63
1,12.00,6.50,1.22,11.50,5.75,1.26,11.00,6.10,1.25,11.68,...,1.26,13.00,6.0,1.24,12.00,6.5,1.25,11.11,6.68,1.27
2,1.95,3.60,3.60,1.95,3.60,3.90,1.97,3.55,3.80,2.04,...,3.90,2.00,3.5,3.80,2.00,3.6,4.00,1.98,3.67,4.06
3,2.62,3.20,2.75,2.65,3.20,2.75,2.65,3.20,2.75,2.71,...,2.81,2.70,3.2,2.75,2.70,3.3,2.80,2.71,3.19,2.90
4,3.00,3.25,2.37,3.20,3.20,2.35,3.10,3.20,2.40,3.21,...,2.39,3.10,3.3,2.35,3.20,3.3,2.45,3.37,3.45,2.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,1.50,3.80,8.00,1.55,3.80,7.00,1.50,3.95,6.70,1.50,...,7.80,1.50,3.8,7.50,1.45,3.9,7.00,1.43,4.32,8.67
2874,1.90,3.20,4.50,1.90,3.30,4.50,1.90,3.25,4.25,1.88,...,4.81,1.91,3.2,4.20,1.87,3.2,4.30,1.98,3.20,4.52
2875,1.14,7.00,23.00,1.15,7.25,23.00,1.17,6.50,18.00,1.12,...,26.91,1.14,7.0,23.00,1.14,6.5,19.00,1.13,7.22,23.85
2876,3.25,3.10,2.30,3.30,3.20,2.30,3.25,3.10,2.30,3.21,...,2.42,3.10,3.1,2.35,3.10,3.1,2.30,2.90,3.09,2.69
2877,1.60,3.60,6.00,1.65,3.70,5.75,1.65,3.55,5.70,1.63,...,6.66,1.62,3.4,6.50,1.62,3.4,6.00,1.93,3.05,5.24

In [26]:
dfp = dfp.dropna()

In [28]:
targetp = dfp['FTR']
targetp

0       0
1       2
2       1
3       0
4       1
       ..
2873    0
2874    2
2875    0
2876    0
2877    2
Name: FTR, Length: 2845, dtype: int64

In [31]:
dfp = dfp.drop(['FTR'], axis = 1)
dfp

,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,1.14,10.00,19.00,1.14,8.25,18.50,1.15,8.00,18.00,1.15,...,18.05,1.12,8.5,21.00,1.14,9.5,23.00,1.14,10.43,19.63
1,12.00,6.50,1.22,11.50,5.75,1.26,11.00,6.10,1.25,11.68,...,1.26,13.00,6.0,1.24,12.00,6.5,1.25,11.11,6.68,1.27
2,1.95,3.60,3.60,1.95,3.60,3.90,1.97,3.55,3.80,2.04,...,3.90,2.00,3.5,3.80,2.00,3.6,4.00,1.98,3.67,4.06
3,2.62,3.20,2.75,2.65,3.20,2.75,2.65,3.20,2.75,2.71,...,2.81,2.70,3.2,2.75,2.70,3.3,2.80,2.71,3.19,2.90
4,3.00,3.25,2.37,3.20,3.20,2.35,3.10,3.20,2.40,3.21,...,2.39,3.10,3.3,2.35,3.20,3.3,2.45,3.37,3.45,2.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,1.50,3.80,8.00,1.55,3.80,7.00,1.50,3.95,6.70,1.50,...,7.80,1.50,3.8,7.50,1.45,3.9,7.00,1.43,4.32,8.67
2874,1.90,3.20,4.50,1.90,3.30,4.50,1.90,3.25,4.25,1.88,...,4.81,1.91,3.2,4.20,1.87,3.2,4.30,1.98,3.20,4.52
2875,1.14,7.00,23.00,1.15,7.25,23.00,1.17,6.50,18.00,1.12,...,26.91,1.14,7.0,23.00,1.14,6.5,19.00,1.13,7.22,23.85
2876,3.25,3.10,2.30,3.30,3.20,2.30,3.25,3.10,2.30,3.21,...,2.42,3.10,3.1,2.35,3.10,3.1,2.30,2.90,3.09,2.69
2877,1.60,3.60,6.00,1.65,3.70,5.75,1.65,3.55,5.70,1.63,...,6.66,1.62,3.4,6.50,1.62,3.4,6.00,1.93,3.05,5.24

In [32]:
prediction = model.predict(dfp)

In [33]:
scores = model_selection.cross_val_score(model,dfp,targetp,cv=seed,scoring=scoring)
scores.mean()

0.43203908918194633

In [34]:
ntarget_p = targetp.reset_index()

In [35]:
NEWdf_p = dfp.reset_index()

In [36]:
correct = 0
oddsH = pd.DataFrame(index=[],columns=[])
HW = 0
oddsD = pd.DataFrame(index=[],columns=[])
D = 0
oddsA = pd.DataFrame(index=[],columns=[])
AW = 0
right_pred = []

for i in range (len(prediction)):
    
    if (prediction[i] == ntarget_p.at[i,'FTR']):
        correct += 1
        
        if(prediction[i] == 0):
            HW += 1
            oddsH = oddsH.append([[i,NEWdf_p.loc[[i],['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'PSCH']].values.max(),NEWdf_p.loc[i,['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'PSCH']].idxmax(axis=1)]])
            
        if(prediction[i] == 1):
            D += 1
            oddsD = oddsD.append([[i,NEWdf_p.loc[[i],['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'PSCD']].values.max(),NEWdf_p.loc[i,['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'PSCD']].idxmax(axis=1)]])
        
        if(prediction[i] == 2):
            AW += 1
            oddsA = oddsA.append([[i,NEWdf_p.loc[[i],['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'PSCA']].values.max(),NEWdf_p.loc[i,['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'PSCA']].idxmax(axis=1)]])

In [37]:
correct

1233

In [38]:
print(HW,D,AW)

476 367 390

In [39]:
oddsH

       0     1      2
0      0  1.15    IWH
0      6  1.39   PSCH
0     10  1.38   PSCH
0     13  1.85   PSCH
0     26  1.50  B365H
..   ...   ...    ...
0   2829  1.57    IWH
0   2830  1.87    BWH
0   2835  1.45    BWH
0   2840  1.55    BWH
0   2842  1.17    IWH

[476 rows x 3 columns]

In [40]:
oddsD

       0     1      2
0      2  3.67   PSCD
0      7  3.34    PSD
0     12  3.60   PSCD
0     35  3.30    BWD
0     39  3.70    VCD
..   ...   ...    ...
0   2802  3.20  B365D
0   2809  3.40  B365D
0   2816  3.25    BWD
0   2818  3.20  B365D
0   2834  3.10    VCD

[367 rows x 3 columns]

In [41]:
oddsA

       0     1      2
0      1  1.27   PSCA
0      8  2.25   PSCA
0     15  1.53   PSCA
0     21  1.89   PSCA
0     24  2.44   PSCA
..   ...   ...    ...
0   2815  1.77   PSCA
0   2819  2.51    PSA
0   2820  2.87  B365A
0   2825  1.25    BWA
0   2839  1.75    PSA

[390 rows x 3 columns]

In [42]:
total_odds = oddsH[1].sum() + oddsD[1].sum() + oddsA[1].sum()
total_odds

2893.76

In [43]:
#average odds
average = total_odds / correct
average

2.346926196269262

In [44]:
#percentage of correctly categorized matches
perc = (correct / len(ntarget_p)) * 100
perc

43.339191564147626

In [45]:
perc * average

101.71388400702988

In [ ]:
#risultati incoraggianti, molto migliori rispetto ai precedenti.
#potrei provare ad allenare il network direttamente sulle quote migliori presenti invece che su tutte
#poi potrei allenarlo su più dati

In [60]:
#provo a verificare se utilizzando dati normalizzati ottengo risultati migliori
len(normalized_data)

7527

In [47]:
from sklearn import model_selection
from sklearn.svm import SVC
name = 'svm'
results = []
scoring = 'accuracy'
seed = 7
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = SVC(kernel = 'rbf', gamma = 'scale', shrinking = True, class_weight = 'balanced', decision_function_shape = 'ovo')
cv_results = model_selection.cross_val_score(model, normalized_data, target, cv=kfold, scoring=scoring)
results.append(cv_results)
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

svm: 0.463007 (0.034687)

In [50]:
model.fit(normalized_data,target)
scores = model_selection.cross_val_score(model,normalized_data,target,cv=seed,scoring=scoring)
scores.mean()

0.45583618191876224

In [61]:
dfp

,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,1.14,10.00,19.00,1.14,8.25,18.50,1.15,8.00,18.00,1.15,...,18.05,1.12,8.5,21.00,1.14,9.5,23.00,1.14,10.43,19.63
1,12.00,6.50,1.22,11.50,5.75,1.26,11.00,6.10,1.25,11.68,...,1.26,13.00,6.0,1.24,12.00,6.5,1.25,11.11,6.68,1.27
2,1.95,3.60,3.60,1.95,3.60,3.90,1.97,3.55,3.80,2.04,...,3.90,2.00,3.5,3.80,2.00,3.6,4.00,1.98,3.67,4.06
3,2.62,3.20,2.75,2.65,3.20,2.75,2.65,3.20,2.75,2.71,...,2.81,2.70,3.2,2.75,2.70,3.3,2.80,2.71,3.19,2.90
4,3.00,3.25,2.37,3.20,3.20,2.35,3.10,3.20,2.40,3.21,...,2.39,3.10,3.3,2.35,3.20,3.3,2.45,3.37,3.45,2.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,1.50,3.80,8.00,1.55,3.80,7.00,1.50,3.95,6.70,1.50,...,7.80,1.50,3.8,7.50,1.45,3.9,7.00,1.43,4.32,8.67
2874,1.90,3.20,4.50,1.90,3.30,4.50,1.90,3.25,4.25,1.88,...,4.81,1.91,3.2,4.20,1.87,3.2,4.30,1.98,3.20,4.52
2875,1.14,7.00,23.00,1.15,7.25,23.00,1.17,6.50,18.00,1.12,...,26.91,1.14,7.0,23.00,1.14,6.5,19.00,1.13,7.22,23.85
2876,3.25,3.10,2.30,3.30,3.20,2.30,3.25,3.10,2.30,3.21,...,2.42,3.10,3.1,2.35,3.10,3.1,2.30,2.90,3.09,2.69
2877,1.60,3.60,6.00,1.65,3.70,5.75,1.65,3.55,5.70,1.63,...,6.66,1.62,3.4,6.50,1.62,3.4,6.00,1.93,3.05,5.24

In [78]:
#normalizzo i dati su cui voglio fare predizioni
np_data = preprocessing.normalize(dfp)
np_data = np_data.astype('float')

In [79]:
np_data_df = pd.DataFrame(np_data, columns=dfp.columns)

In [80]:
np_data_df

,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,0.019806,0.173741,0.330108,0.019806,0.143336,0.321421,0.019980,0.138993,0.312734,0.019980,...,0.313602,0.019459,0.147680,0.364856,0.019806,0.165054,0.399604,0.019806,0.181212,0.341054
1,0.338185,0.183184,0.034382,0.324094,0.162047,0.035509,0.310003,0.171911,0.035228,0.329167,...,0.035509,0.366367,0.169093,0.034946,0.338185,0.183184,0.035228,0.313103,0.188256,0.035791
2,0.130800,0.241476,0.241476,0.130800,0.241476,0.261599,0.132141,0.238122,0.254891,0.136836,...,0.261599,0.134153,0.234768,0.254891,0.134153,0.241476,0.268307,0.132812,0.246171,0.272331
3,0.196623,0.240150,0.206379,0.198874,0.240150,0.206379,0.198874,0.240150,0.206379,0.203377,...,0.210882,0.202626,0.240150,0.206379,0.202626,0.247655,0.210131,0.203377,0.239399,0.217636
4,0.220129,0.238473,0.173902,0.234804,0.234804,0.172434,0.227467,0.234804,0.176103,0.235538,...,0.175370,0.227467,0.242142,0.172434,0.234804,0.242142,0.179772,0.247278,0.253149,0.166564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,0.065569,0.166109,0.349704,0.067755,0.166109,0.305991,0.065569,0.172666,0.292877,0.065569,...,0.340961,0.065569,0.166109,0.327847,0.063384,0.170481,0.305991,0.062510,0.188840,0.378992
2841,0.123403,0.207837,0.292271,0.123403,0.214332,0.292271,0.123403,0.211085,0.276034,0.122104,...,0.312405,0.124053,0.207837,0.272786,0.121455,0.207837,0.279281,0.128599,0.207837,0.293570
2842,0.018207,0.111800,0.367342,0.018367,0.115792,0.367342,0.018687,0.103814,0.287485,0.017888,...,0.429790,0.018207,0.111800,0.367342,0.018207,0.103814,0.303456,0.018048,0.115313,0.380917
2843,0.243597,0.232354,0.172392,0.247345,0.239849,0.172392,0.243597,0.232354,0.172392,0.240599,...,0.181386,0.232354,0.232354,0.176139,0.232354,0.232354,0.172392,0.217364,0.231605,0.201623
2844,0.084856,0.190926,0.318210,0.087508,0.196230,0.304951,0.087508,0.188274,0.302300,0.086447,...,0.353213,0.085917,0.180319,0.344728,0.085917,0.180319,0.318210,0.102358,0.161757,0.277903

In [81]:
prediction = model.predict(np_data_df)

In [82]:
scores = model_selection.cross_val_score(model,np_data_df,targetp,cv=seed,scoring=scoring)
scores.mean()

0.44609294428670454

In [83]:
newtarget_p = targetp.reset_index()

In [84]:
normdf_p = np_data_df.reset_index()

In [95]:
#uso i dati originali non normalizzati per ottenere le quote reali! -> NEWdf_p
correct = 0
oddsH = pd.DataFrame(index=[],columns=[])
HW = 0
oddsD = pd.DataFrame(index=[],columns=[])
D = 0
oddsA = pd.DataFrame(index=[],columns=[])
AW = 0
right_pred = []

for i in range (len(prediction)):
    
    if (prediction[i] == newtarget_p.at[i,'FTR']):
        correct += 1
        
        if(prediction[i] == 0):
            HW += 1
            oddsH = oddsH.append([[i,NEWdf_p.loc[[i],['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'PSCH']].values.max(),NEWdf_p.loc[i,['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'PSCH']].idxmax(axis=1)]])
            
        if(prediction[i] == 1):
            D += 1
            oddsD = oddsD.append([[i,NEWdf_p.loc[[i],['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'PSCD']].values.max(),NEWdf_p.loc[i,['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'PSCD']].idxmax(axis=1)]])
        
        if(prediction[i] == 2):
            AW += 1
            oddsA = oddsA.append([[i,NEWdf_p.loc[[i],['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'PSCA']].values.max(),NEWdf_p.loc[i,['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'PSCA']].idxmax(axis=1)]])

In [96]:
correct

1286

In [97]:
print(HW,D,AW)

580 308 398

In [98]:
#giustamente adesso ho quote normalizzate...come faccio a ridargli significato?
oddsH

       0     1      2
0      0  1.15    IWH
0      6  1.39   PSCH
0     10  1.38   PSCH
0     13  1.85   PSCH
0     26  1.50  B365H
..   ...   ...    ...
0   2829  1.57    IWH
0   2830  1.87    BWH
0   2835  1.45    BWH
0   2840  1.55    BWH
0   2842  1.17    IWH

[580 rows x 3 columns]

In [99]:
oddsD

       0     1      2
0      7  3.34    PSD
0     12  3.60   PSCD
0     35  3.30    BWD
0     41  3.44   PSCD
0     55  3.24   PSCD
..   ...   ...    ...
0   2802  3.20  B365D
0   2809  3.40  B365D
0   2816  3.25    BWD
0   2818  3.20  B365D
0   2834  3.10    VCD

[308 rows x 3 columns]

In [100]:
oddsA

       0     1     2
0      1  1.27  PSCA
0      8  2.25  PSCA
0     15  1.53  PSCA
0     21  1.89  PSCA
0     24  2.44  PSCA
..   ...   ...   ...
0   2813  1.67   IWA
0   2815  1.77  PSCA
0   2819  2.51   PSA
0   2825  1.25   BWA
0   2839  1.75   PSA

[398 rows x 3 columns]

In [101]:
total_odds = oddsH[1].sum() + oddsD[1].sum() + oddsA[1].sum()
total_odds

2899.7300000000005

In [102]:
#average odds
average = total_odds / correct
average

2.254844479004666

In [103]:
#percentage of correctly categorized matches
perc = (correct / len(ntarget_p)) * 100
perc

45.202108963093146

In [104]:
perc * average

101.9237258347979

In [105]:
model.decision_function(np_data_df)

array([[ 1.05818097,  1.06346843,  0.92936949],
       [-0.98395357, -1.11571518, -1.03437917],
       [ 0.07038768,  0.80192046,  0.99361241],
       ...,
       [ 1.00656751,  1.01627892,  0.77252164],
       [-0.98266372, -1.00227072, -0.34269393],
       [ 0.6744982 ,  1.00824019,  0.99802894]])

In [106]:
#provo a ottenere stime percentuali
from sklearn import model_selection
from sklearn.svm import SVC
name = 'svm'
results = []
scoring = 'accuracy'
seed = 7
kfold = model_selection.KFold(n_splits=10, random_state=seed)
est_model = SVC(kernel = 'rbf', gamma = 'scale', shrinking = True, probability = True, class_weight = 'balanced', 
            decision_function_shape = 'ovo')
cv_results = model_selection.cross_val_score(est_model, normalized_data, target, cv=kfold, scoring=scoring)
results.append(cv_results)
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

svm: 0.463007 (0.034687)

In [107]:
est_model.fit(normalized_data,target)

SVC(C=1.0, cache_size=200, class_weight='balanced', coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [108]:
est_model.predict_proba(normalized_data)

array([[0.63265353, 0.20775731, 0.15958916],
       [0.57989396, 0.2575641 , 0.16254194],
       [0.31615333, 0.31212591, 0.37172076],
       ...,
       [0.29654198, 0.24206023, 0.46139779],
       [0.6335636 , 0.20297212, 0.16346429],
       [0.63740336, 0.19843832, 0.16415832]])

In [109]:
est_prediction = est_model.predict(np_data_df)

In [115]:
#quote stimate
real_odds = 1 / est_model.predict_proba(np_data_df)

In [116]:
real_odds

array([[1.55384614, 4.98667213, 6.41432304],
       [3.61907365, 4.18978422, 2.06181136],
       [1.83017096, 3.66027555, 5.54325312],
       ...,
       [1.57413552, 4.96957287, 6.11597811],
       [3.44859623, 3.5579856 , 2.33117062],
       [1.63571871, 4.40088218, 6.19498961]])

In [145]:
est_probability = est_model.predict_proba(np_data_df)

In [148]:
estdf_probability = pd.DataFrame(index = [], columns = [])
for i in range (len(prediction)):
    estdf_probability = estdf_probability.append([[est_probability[i,0],est_probability[i,1],est_probability[i,2]]])

In [149]:
estdf_probability

           0         1         2
0   0.643564  0.200535  0.155901
0   0.276314  0.238676  0.485010
0   0.546397  0.273203  0.180399
0   0.293007  0.317954  0.389039
0   0.288307  0.262634  0.449059
..       ...       ...       ...
0   0.636314  0.206460  0.157226
0   0.557091  0.277454  0.165455
0   0.635269  0.201225  0.163506
0   0.289973  0.281058  0.428969
0   0.611352  0.227227  0.161421

[2845 rows x 3 columns]

In [136]:
#creo l'array con le migliori quote disponibili
best_odds = pd.DataFrame(index = [], columns = [])

for i in range (len(prediction)):
    best_odds  = best_odds.append([[NEWdf_p.loc[[i],['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'PSCH']].values.max(),
                                  NEWdf_p.loc[[i],['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'PSCD']].values.max(),
                                  NEWdf_p.loc[[i],['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'PSCA']].values.max()]])

In [137]:
best_odds

        0      1      2
0    1.15  10.43  23.00
0   13.00   6.68   1.27
0    2.04   3.67   4.06
0    2.71   3.31   2.90
0    3.37   3.45   2.45
..    ...    ...    ...
0    1.55   4.32   8.67
0    1.98   3.31   4.81
0    1.17   7.68  26.91
0    3.30   3.20   2.69
0    1.93   3.70   6.66

[2845 rows x 3 columns]

In [140]:
odds_probability = 1 / best_odds

In [141]:
odds_probability

           0         1         2
0   0.869565  0.095877  0.043478
0   0.076923  0.149701  0.787402
0   0.490196  0.272480  0.246305
0   0.369004  0.302115  0.344828
0   0.296736  0.289855  0.408163
..       ...       ...       ...
0   0.645161  0.231481  0.115340
0   0.505051  0.302115  0.207900
0   0.854701  0.130208  0.037161
0   0.303030  0.312500  0.371747
0   0.518135  0.270270  0.150150

[2845 rows x 3 columns]

In [150]:
value_df = estdf_probability - odds_probability

In [151]:
value_df

           0         1         2
0  -0.226001  0.104657  0.112423
0   0.199391  0.088975 -0.302391
0   0.056201  0.000724 -0.065906
0  -0.075997  0.015839  0.044212
0  -0.008429 -0.027221  0.040896
..       ...       ...       ...
0  -0.008847 -0.025021  0.041885
0   0.052041 -0.024661 -0.042445
0  -0.219432  0.071016  0.126345
0  -0.013057 -0.031442  0.057222
0   0.093217 -0.043043  0.011271

[2845 rows x 3 columns]

In [ ]:
#leggermente meglio, ora provo a utilizzare i dati standardizzati

In [152]:
from sklearn import model_selection
from sklearn.svm import SVC
name = 'svm'
results = []
scoring = 'accuracy'
seed = 7
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = SVC(kernel = 'rbf', gamma = 'scale', shrinking = True, class_weight = 'balanced', decision_function_shape = 'ovo')
cv_results = model_selection.cross_val_score(model, standardized_data, target, cv=kfold, scoring=scoring)
results.append(cv_results)
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

svm: 0.448795 (0.041767)

In [173]:
#data standardization
st_data = preprocessing.scale(dfp)
st_data = st_data.astype('float')

In [174]:
st_data_df = pd.DataFrame(st_data, columns=dfp.columns)

In [155]:
model.fit(standardized_data,target)
scores = model_selection.cross_val_score(model,standardized_data,target,cv=seed,scoring=scoring)
scores.mean()

0.4430857486368614

In [176]:
st_prediction = model.predict(st_data_df)

In [165]:
st_data_df

,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,-0.627263,0.116152,1.036106,-0.661729,0.276452,1.069792,-0.671377,0.191179,1.079977,-0.650580,...,0.896291,-0.616233,0.054268,0.513420,-0.608540,0.173669,0.695969,-0.655366,0.158608,0.911243
1,-0.429540,-0.164656,0.089803,-0.425295,-0.290330,0.092742,-0.429025,-0.132933,0.056990,-0.461228,...,0.068590,-0.411193,-0.234297,-0.050011,-0.438302,-0.186741,0.113256,-0.467069,-0.215588,0.087080
2,-0.070045,-0.351861,-0.383349,-0.073839,-0.384794,-0.364266,-0.082809,-0.349008,-0.348678,-0.088630,...,-0.379276,-0.085541,-0.426674,-0.388069,-0.080802,-0.366945,-0.339966,-0.044827,-0.402686,-0.409072
3,2.326589,0.209755,-0.821803,2.354401,0.181989,-0.799211,2.548432,0.407253,-0.842534,2.299658,...,-0.770450,1.934707,0.150456,-0.734579,2.189041,0.173669,-0.697363,2.591334,0.060991,-0.772917
4,0.768777,-0.258258,-0.686166,0.788825,-0.195866,-0.663684,0.817352,-0.294989,-0.666157,0.723754,...,-0.640058,0.728589,-0.522862,-0.599356,0.713643,-0.366945,-0.573051,1.164840,-0.280666,-0.687468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7522,-0.519414,-0.632669,0.484096,-0.521146,-0.573721,0.360643,-0.532890,-0.349008,0.321555,-0.540634,...,0.170635,-0.489591,-0.426674,0.175362,-0.506397,-0.457047,0.126205,-0.484187,-0.427090,0.155990
7523,0.589029,-0.539066,-0.667240,0.852726,-0.573721,-0.663684,0.851974,-0.511064,-0.666157,0.797052,...,-0.651397,0.728589,-0.619050,-0.599356,0.543405,-0.547150,-0.586000,0.799658,-0.248127,-0.673686
7524,2.326589,-0.445464,-0.809185,1.875143,-0.290330,-0.773996,2.063730,-0.132933,-0.807259,1.542247,...,-0.764780,1.603024,-0.138109,-0.712042,1.564834,-0.366945,-0.684414,0.805363,-0.345743,-0.665417
7525,-0.926842,5.825912,7.817944,-0.955673,5.471955,6.900577,-0.989895,5.376969,6.371295,-0.962096,...,5.726437,-0.917763,5.537001,6.992873,-0.892270,5.129296,4.839706,-0.934959,7.951642,9.194223
7526,-0.872917,2.549820,4.032732,-0.885382,1.929567,3.906390,-0.913728,2.459962,3.372882,-0.907123,...,3.237665,-0.857457,2.651352,3.612289,-0.829849,1.975715,2.767837,-0.855075,2.533937,2.317007

In [177]:
scores = model_selection.cross_val_score(model,st_data_df,targetp,cv=seed,scoring=scoring)
scores.mean()

0.43132324314590326

In [178]:
newtarget_p = targetp.reset_index()

In [179]:
stdf_p = st_data_df.reset_index()

In [180]:
#uso i dati originali non standardizzati per ottenere le quote reali! -> NEWdf_p
correct = 0
oddsH = pd.DataFrame(index=[],columns=[])
HW = 0
oddsD = pd.DataFrame(index=[],columns=[])
D = 0
oddsA = pd.DataFrame(index=[],columns=[])
AW = 0
right_pred = []

for i in range (len(st_prediction)):
    
    if (st_prediction[i] == newtarget_p.at[i,'FTR']):
        correct += 1
        
        if(st_prediction[i] == 0):
            HW += 1
            oddsH = oddsH.append([[i,NEWdf_p.loc[[i],['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'PSCH']].values.max(),NEWdf_p.loc[i,['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH', 'PSCH']].idxmax(axis=1)]])
            
        if(st_prediction[i] == 1):
            D += 1
            oddsD = oddsD.append([[i,NEWdf_p.loc[[i],['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'PSCD']].values.max(),NEWdf_p.loc[i,['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD', 'PSCD']].idxmax(axis=1)]])
        
        if(st_prediction[i] == 2):
            AW += 1
            oddsA = oddsA.append([[i,NEWdf_p.loc[[i],['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'PSCA']].values.max(),NEWdf_p.loc[i,['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA', 'PSCA']].idxmax(axis=1)]])

In [181]:
correct

1234

In [182]:
print(HW,D,AW)

499 375 360

In [183]:
#giustamente adesso ho quote normalizzate...come faccio a ridargli significato?
oddsH

       0     1      2
0      0  1.15    IWH
0      6  1.39   PSCH
0     10  1.38   PSCH
0     13  1.85   PSCH
0     26  1.50  B365H
..   ...   ...    ...
0   2829  1.57    IWH
0   2830  1.87    BWH
0   2835  1.45    BWH
0   2840  1.55    BWH
0   2842  1.17    IWH

[499 rows x 3 columns]

In [184]:
oddsD

       0     1      2
0      2  3.67   PSCD
0      7  3.34    PSD
0     12  3.60   PSCD
0     35  3.30    BWD
0     39  3.70    VCD
..   ...   ...    ...
0   2802  3.20  B365D
0   2809  3.40  B365D
0   2816  3.25    BWD
0   2818  3.20  B365D
0   2834  3.10    VCD

[375 rows x 3 columns]

In [185]:
oddsA

       0     1     2
0      1  1.27  PSCA
0      8  2.25  PSCA
0     15  1.53  PSCA
0     21  1.89  PSCA
0     24  2.44  PSCA
..   ...   ...   ...
0   2813  1.67   IWA
0   2815  1.77  PSCA
0   2819  2.51   PSA
0   2825  1.25   BWA
0   2839  1.75   PSA

[360 rows x 3 columns]

In [186]:
total_odds = oddsH[1].sum() + oddsD[1].sum() + oddsA[1].sum()
total_odds

2866.93

In [187]:
#average odds
average = total_odds / correct
average

2.323282009724473

In [188]:
#percentage of correctly categorized matches
perc = (correct / len(ntarget_p)) * 100
perc

43.37434094903339

In [189]:
perc * average

100.7708260105448

In [ ]:
#i risultati ottenuti coi dati normalizzati sono migliori di più dell'1%

In [190]:
dfp.columns

Index(['B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA',
       'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'PSCH',
       'PSCD', 'PSCA'],
      dtype='object')